.aside {
  min-height: calc(100% - 150px);
  font-size: calc(5px + 1vw);
  font-style: italic;
  font-weight: bold;
}

.sort-by-wrap{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 100%;
}

.sort-title {
  margin-bottom: 20px;
}

.sort-by__price, .sort-by__name, .sort-by__sale {
  margin: 10px 0 10px 0;
  cursor: pointer;
}
