@import '../card/card.css';

.plate {
  min-height: calc(100% - 150px);
}

.plate-container {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.plate-container::before, .plate-container::after  {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 50px;
}
