body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  max-height: 100vh;
  max-width: 100vw;
  background-image: url(https://i.pinimg.com/originals/33/cb/7c/33cb7c366d3115523fcd9123aaaa2ce1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.root-container-basket {
  display: grid;
  grid-template-areas: 'header'
                        'main'
                        'footer';
  grid-template-rows: 100px 1fr 50px;
  grid-template-columns: 1fr;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 721px){
  .root-container {
    display: grid;
    grid-template-areas: 'header header'
                        'aside search'
                        'aside main'
                        'aside pagination'
                        'footer footer';
    grid-template-rows: 100px 100px 1fr 100px 50px;
    grid-template-columns: 200px 1fr;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 540px) and (max-width: 720px){
  .root-container {
    display: grid;
    grid-template-areas: 'header'
                        'search '
                        'aside '
                        'main'
                        'pagination '
                        'footer ';
    grid-template-rows: 80px 80px 50px 1fr 80px 50px;
    grid-template-columns: 1fr;
    width: auto;
  }

}

@media (min-width: 200px) and (max-width: 539px){
  .root-container {
    display: grid;
    grid-template-areas: 'header header'
                        'search search'
                        'aside main'
                        'pagination pagination'
                        'footer footer';
    grid-template-rows: 50px 70px 1fr 50px 50px;
    grid-template-columns: 120px 1fr;
  }

}

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

  .main-component {
    grid-area: main;
  }

  .aside {
    grid-area: aside;
  }

  .search {
    grid-area: search;
  }

  .pagination{
    grid-area: pagination;
  }

  .hidden {
    visibility: hidden !important;
  }

  .hide {
    display: none !important;
  }

