/*@import '../../../basket/styles/basket-icon.css';*/
@import 'autorization/authorization.css';
/*@import '../logo/logo.css';*/



.header {
  display: flex;
  font-size: 15px;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

.title {
  display: flex;
  width: 70%;
  height: 100%;
  font-size: calc(5px + 1vw);
}

.title p{
  font-weight: bold;
  font-style: italic;
  margin: auto auto auto 0;
}




