.aside {
  min-height: calc(100% - 150px);
  border-bottom: 2px solid black;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

.sort-by-wrap{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 100%;
}

.sort-by__title {
  margin-bottom: 20px;
}

.sort-by__type, .sort-by__name {
  margin: 10px 0 10px 0;
  cursor: pointer;
}