@import '../basket-icon/basket-icon.css';
@import '../authorization/authorization.css';
@import '../logo/logo.css';



.header {
  display: flex;
  font-size: 15px;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

.title {
  display: flex;
  width: 30%;
  height: 100%;
  font-size: calc(5px + 1vw);
}

.title p{
  font-weight: bold;
  font-style: italic;
  margin: auto auto auto 0;
}

.search {
  width: calc(70% - 300px);
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.inp-search {
  display: inline-block;
  padding: 5px;
  margin-right: 50px;
  height: 30px;
  width: 250px;
}
