.basket__img-wrap{
  position: relative;
  width: 40px;
  height: 40px;
  margin: auto 0 auto auto;
  cursor: pointer;
}

.basket__img {
  width: 100%;
}

.basket__img-wrap::after {
  content: '1';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* background-color: rgb(22, 189, 36); */
  background-color: red;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 17px;
  top: 20px;
  right: 0;
}
