.enterForm{
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  height: 250px;
  background-color: rgb(207, 207, 207);
  border: 2px solid black;
  top: calc(50vh - 125px);
  left: calc(50vw - 155px);
  z-index: 30;
}

.enterTitle, .noUser-title{
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}

.lbl-enter{
  align-self: start;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  margin-left: 30px;
  margin-top: 15px;
}

.inp-name, .inp-pass, .inp-email, .subm-wrap {
  width: 250px;
  height: 25px;
  margin: 5px;
  padding-left: 10px;
  font-size: 15px;
}

.inp-name:hover{

}

.subm-wrap {
  padding: 0;
  margin: 0;
}

.subm-wrap{
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  font-size: 12px;
}

.btn-subm, .btn-exit--signIn, .btn-reg{
  font-weight: bold;
  font-style: italic;
  height: 25px;
}

.btn-exit--signIn{
  width: 70px;
}

.regForm{
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: rgb(207, 207, 207);
  border: 2px solid black;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  z-index: 30;
  font-size: 12px;
}

.noUser{
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 100px;
  background-color: rgb(207, 207, 207);
  border: 2px solid black;
  top: calc(50vh - 50px);
  left: calc(50vw - 100px);
  z-index: 30;
  font-size: 12px;
}
